/* Venedor Config Styles */
/* Created at 2015-03-25 17:24:53 */

.ls-preview .price-box {
        font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.ls-preview .price-box {
    background: #dd0000;
    color: #e82c0c;
}

.ls-preview .btn {
        font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-style: solid;
    border-color: #444645;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background: #444645;
    border-radius: 3px 3px 3px 3px;
    color: #e8e8e8;
}

.ls-preview .btn:hover,
.ls-preview .btn:focus {
    border-style: solid;
    border-color: #db0202;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background: #db0202;
    color: #ffffff;
}
